\documentclass{article}

\begin{document}
Invoice Number: {{invoiceId}} \\
{{invoiceTitle}} \\
Start: {{startDate}} \\
End: {{endDate}} \\
\begin{center}
\begin{tabular} { |c|c|c| }
\hline
{{#invoiceItems}}
{{title}} & {{date}} & {{hours}} \\
{{/invoiceItems}}
\hline
\end{tabular}
\end{center}
\end{document}
