\documentclass{article}

\begin{document}
Invoice Number: {{number}} \\
{{title}} \\
Start: {{startDate}} \\
End: {{endDate}} \\
\begin{center}
\begin{tabular} { |c|c|c| }
\hline
{{#items}}
{{title}} & {{date}} & {{hours}} \\
{{/items}}
\hline
\end{tabular}
\end{center}
Total Hours: {{totalHours}}
\end{document}
